.scroll-div > .footer {
    color: white;
    background-color: black;
    display: grid;
    font-family: var(--serif);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    position: relative;
    z-index: 3;
    /* top: 100vh; */
}

.footer > div {
    display: inline-block;
    width: 100%;
}

.footer > div > div {
    text-align: center;
    padding: 60px 40px;
}

.footer .title {
    font-size: 1.2rem;
}

/* .footer .rule-vertical {
    background: var(--color-important);
    height: 60%;
    width: 2px;
} */

.footer p {
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.phone-hr {
    display: none;
}

@media screen and (max-width: 800px) {
    .scroll-div > .footer {
        grid-template-columns: 100vw;
        justify-content: center;
    }

    .footer .right-hr-white,
    .footer .right-hr-black {
        border: 0;
    }

    .phone-hr {
        display: inline-block;
    }
}