@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
  background: #FFF;
  background: var(--mid-green);
  background-position: 0 0, 0 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px;
}

.scroll-div {
  max-height: calc(100vh - 70px);
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--dark-green);
}

::-webkit-scrollbar-thumb {
  background-color: var(--chai-light);

}