.account .account-selected:has(.account-saved) {

    background-color: var(--low-green-solid);
    /* padding: 17px; */
}

.account .account-selected .account-saved,
.account .account-selected .posts {
    --border-width: 17px;
    border: var(--low-green-solid) solid;
    border-width: var(--border-width);
    height: calc(100% - 34px);
    border-radius: 8px;
    overflow-y: auto;
    /* padding: 17px; */
    /* position: relative; */
}

.account .poems {
    background-color: var(--low-green-solid);
    padding: 0;
    min-height: inherit;
    position: relative;
}