@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
    --low-green: #4e6e81d9;
    --low-green-solid: #4e6e81;
    --dark-green: #2E3840;
    --mid-green: #415867;
    --chai: #f9dbbb;

    --chai-light: #fcd9b3d8;

    --color-important: #fff;
    --color-general: #000;
    --color-subtle: black;
    --color-very-subtle: black;

    --wine: #c01e54;

    --yellow: #fbbc04;

    --serif: 'Crimson Text', serif;
    --sans-serif: 'Open Sans', sans-serif;
    --fade-in-out-black: linear-gradient(to right,
            transparent,
            transparent,
            black,
            black,
            black,
            black,
            black,
            black,
            black,
            black,
            black,
            black,
            black,
            transparent,
            transparent);
    --fade-in-out-white: linear-gradient(to right,
            transparent,
            transparent,
            white,
            white,
            white,
            white,
            white,
            white,
            white,
            white,
            white,
            white,
            white,
            transparent,
            transparent);
    --fade-in-out-black-vertical: linear-gradient(to bottom,
            transparent,
            transparent,
            black,
            black,
            black,
            black,
            black,
            black,
            black,
            black,
            black,
            black,
            black,
            transparent,
            transparent);
    --fade-in-out-white-vertical: linear-gradient(to bottom,
            transparent,
            transparent,
            white,
            white,
            white,
            white,
            white,
            white,
            white,
            white,
            white,
            white,
            white,
            transparent,
            transparent);
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3 {
    font-family: var(--serif);
    font-weight: 700;
    margin: 0;
    text-align: center;
}

h4 {
    font-family: var(--sans-serif);
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.white {
    color: white;

}

.black {
    color: black;
}

.yellow {
    color: var(--yellow) !important;
}

.mid-green {
    color: var(--mid-green) !important;
}

.dark-green {
    color: var(--dark-green) !important;
}

.very-spaced-out {
    letter-spacing: 5.5px;
}

.mid-spaced-out {
    letter-spacing: 4.5px;
}

.little-spaced-out {
    letter-spacing: 3px;
}

hr {
    background: var(--fade-in-out-black);
    border: none;
    border-radius: 10%;
    height: 1.5px;
    max-width: 240px;
    width: 60%;
}

hr.white {
    background: var(--fade-in-out-white);
    border: none;
    border-radius: 10%;
    height: 1px;
    max-width: 240px;
    width: 60%;
}

h1 + hr {
    border-radius: 10%;
    width: 70%;
    max-width: 500px;
    min-width: 200px;
}

.right-hr-white {
    border-image: var(--fade-in-out-white-vertical) 1 100%;
    border-right-style: solid;
    border-width: 0px 1.5px 0px 0px;
}

.right-hr-black {
    border-image: var(--fade-in-out-black-vertical) 1 100%;
    border-right-style: solid;
    border-width: 0px 0px 0px 1.5px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    background-color: var(--mid-green);
    border: 0;
    /* border: white 2px solid; */
    border-radius: 20px;
    color: white;
    font-family: var(--sans-serif);
    margin: 5px 0px;
    outline: 0;
    padding: 7px 14px;
    width: 60%;
}

button {
    background-color: var(--yellow);
    color: var(--mid-green);
    border: 0;
    border-radius: 15px;
    font-family: var(--sans-serif);
    margin: 5px 0px;
    outline: 0;
    padding: 7px 14px;
    cursor: pointer;
    transition: background 0.5s, color 1s, opacity 0.7s;
}

button.less-rounded {
    border-radius: 4px;
}

button:not(button:disabled):hover {
    color: white;
}

button:disabled {
    opacity: 0.7;
}

button.low-green-btn {
    background-color: var(--low-green);
    color: var(--color-important);
}

button.low-green-btn:not(.low-green-btn:disabled):hover {
    background-color: var(--color-important);
    color: var(--dark-green);

}

.wine-btn {
    background-color: var(--wine);
    color: var(--dark-green);
    border: 0;
    border-radius: 5px;
    font-family: var(--sans-serif);
    margin: 5px 0px;
    outline: 0;
    padding: 7px 14px;
    transition: background 0.5s, color 1s;
}

button.wine-btn:not(.wine-btn:hover):hover {
    color: var(--color-important);
}

button.white-btn {
    background-color: white;
    color: var(--dark-green);
    border: 0;
    border-radius: 5px;
    font-family: var(--sans-serif);
    margin: 5px 0px;
    outline: 0;
    padding: 7px 14px;
    transition: background 0.5s, color 0.75s;
}

button.white-btn:not(.white-btn:disabled):hover {
    background-color: var(--mid-green);
    color: white;
}

button.highlight-btn {
    background-color: transparent;
    color: var(--low-green);
    padding: 0;
    transition: color 0.4s;
}

button.highlight-btn:not(.highlight-btn:disabled):hover {
    color: white;
}

button.mid-green-btn {
    background-color: var(--mid-green);
    color: white;
}

button.mid-green-btn:hover {
    background-color: var(--dark-green);
    /* color: grey !important; */
}

button.mid-green-btn.important:hover {
    background-color: var(--yellow);
    color: var(--dark-green);
    /* color: grey !important; */
}

button.google-btn {
    width: 70%
}

.loader {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border-width: 2px 0px 0px 2px;
    border-style: solid;
    animation: rotate 0.4s infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.loader.black {
    border-color: black;
}

.loader.white {
    border-color: white;
}

.loader.low-green {
    border-color: var(--low-green);
}

.loader.mid-green {
    border-color: var(--mid-green);
}

.loader.dark-green {
    border-color: var(--dark-green);
}

.loader.wine {
    border-color: var(--wine);
}

.loader.yellow {
    border-color: var(--yellow);
}

.loader.chai {
    border-color: var(--chai);
}

@keyframes rotate {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }

    50% {
        transform: translateX(-50%) rotate(180deg);
    }

    100% {

        transform: translateX(-50%) rotate(360deg);
    }
}

.yellow-bg {
    background-color: var(--yellow);
}

.chai-bg {
    background-color: var(--chai);
}

.mid-green-bg {
    background-color: var(--mid-green);
}

.low-green-bg {
    background-color: var(--low-green);
}

.low-green-solid-bg {
    background-color: var(--low-green-solid);
}

.dark-green-bg {
    background-color: var(--dark-green);
}

.black-bg {
    background-color: black;
}

.white-bg {
    background-color: white;
}

input[type="text"].link {
    border-radius: 5px;
}

input[type="text"].link.white {
    background-color: white;
    border-radius: 5px;
    color: gray;
}

input[type="text"].link + i.link {
    padding: 5px;
    color: var(--low-green);
    transition: opacity 0.5s, color 0.5s;
}

input[type="text"].link + i.link:hover {
    color: var(--yellow);
}

.small {
    font-size: 0.5rem;
}